# Build outputs
[Oo]bj/
[Bb]in/Debug/
[Bb]in/x64/

# Ignore Relase build outputs except for the publish folder
# So, only the .exe is uploaded to the repository
[Bb]in/[Rr]elease/net10.0/win-x64/*
![Bb]in/[Rr]elease/net10.0/win-x64/publish/
[Bb]in/[Rr]elease/net10.0/win-x64/publish/*
![Bb]in/[Rr]elease/net10.0/win-x64/publish/*.exe

# IDE Specific Files
.idea/
.vs/
.vscode/

# User Specific Files
.user